<!DOCTYPE html>
<html lang="zh-CN" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>网站管理 | 文章编辑</title>
    <link rel="stylesheet" th:href="@{/adminLTE/dist/css/adminlte.min.css}">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.min.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" th:href="@{/common/admin/common.css}">
    <!--<style>
        @font-face {
            font-family: 'al-RegularL3';
            src: url(/fonts/AlibabaPuHuiTi-3-55-RegularL3.woff2);
        }

        @font-face {
            font-family: 'al-Regular';
            src: url(../fonts/AlibabaPuHuiTi-3-55-Regular.woff2);
        }

        @font-face {
            font-family: 'al-Thin';
            src: url(../fonts/AlibabaPuHuiTi-3-35-Thin.woff2);
        }

        @font-face {
            font-family: 'al-Light';
            src: url(../fonts/AlibabaPuHuiTi-3-45-Light.woff2);
        }

        @font-face {
            font-family: 'al-SemiBold';
            src: url(../fonts/AlibabaPuHuiTi-3-75-SemiBold.woff2);
        }

        body {
            font-family: al-RegularL3, ui-serif;
            font-size: 15px;
        }

        .nav-treeview p {
            font-size: 14px;
        }


    </style>-->

</head>
<body class="sidebar-mini sidebar-collapse">
<div class="wrapper">
    <!-- Navbar 顶部导航-->
    <div th:replace="common/admin/TopNavBar::topNavBar"></div>
    <!-- Main Sidebar Container 侧边导航-->
    <div th:replace="common/admin/sidebar :: sidebar"></div>

    <!--页面主体内容-->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class=" fa fa-file-code-o mr-2" aria-hidden="true"></i>文章管理</h1>
                    </div>
                    <div class=" col-sm-6">
                        <ol class="breadcrumb  float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">文章管理</li>
                            <li class="breadcrumb-item active">发表文章</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="card  card-primary " style="height: 750px">
                            <div class="card-header text-center">
                                <h5 class="mb-0">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                    文章基本信息
                                </h5>
                            </div>
                            <div class="card-body">
                                <div id="editArticle_title">
                                    <div class="form-group">
                                        <label>
                                            文章ID
                                            <i class="fa fa-key text-danger" aria-hidden="true"></i>
                                        </label>
                                        <input id="articleId" type="text" class="form-control" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="articleTitle">标题</label>
                                        <input type="text" class="form-control form-control-border border-width-2"
                                               id="articleTitle" placeholder="标题在100个字以内">
                                    </div>
                                </div>
                                <div id="editArticle_contentOverview">
                                    <div class="form-group">
                                        <label>内容梗概</label>
                                        <textarea id="summary" class="form-control" rows="3" style="min-height: 100px"
                                                  placeholder="Enter ..."></textarea>
                                    </div>
                                </div>

                                <div id="editArticle_type">
                                    <label>类型</label>
                                    <div class="row form-group">
                                        <div class="custom-control custom-radio ml-2">
                                            <input class="custom-control-input" type="radio" id="customRadio2"
                                                   name="customRadio" value="原创" checked>
                                            <label for="customRadio2"
                                                   class="custom-control-label badge badge-btn badge-info">原创</label>
                                        </div>
                                        <div class="custom-control custom-radio ml-2">
                                            <input class="custom-control-input" type="radio" id="customRadio3"
                                                   name="customRadio" value="转载">
                                            <label for="customRadio3"
                                                   class="custom-control-label badge badge-btn badge-danger">转载</label>
                                        </div>
                                        <div class="custom-control custom-radio ml-2">
                                            <input class="custom-control-input" type="radio" id="customRadio4"
                                                   name="customRadio" value="分享">
                                            <label for="customRadio4"
                                                   class="custom-control-label badge badge-btn badge-success">分享</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="editArticle_category">
                                    <div class="form-group">
                                        <label for="categorySelect">分类</label>
                                        <i class="fa fa-plus-circle text-primary fa-1x" style="cursor: pointer;"
                                           data-toggle="modal" data-target="#addCategoryModal" aria-hidden="true"></i>
                                        <select id="categorySelect" class="form-control" name="category">
                                            <option value="">请选择分类</option>
                                            <option value="1">我的故事</option>
                                            <option value="2">大学生活</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 新增分类模态框 -->
                                <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog"
                                     aria-labelledby="addCategoryModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addCategoryModalLabel">新增分类</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="关闭">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form id="addCategoryForm">
                                                    <div class="form-group">
                                                        <label for="categoryNameInput">分类名称</label>
                                                        <input type="text" class="form-control" id="categoryNameInput"
                                                               placeholder="请输入分类名称" required>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    取消
                                                </button>
                                                <button type="button" class="btn btn-primary" id="saveCategoryBtn">保存
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div id="editArticle_tag">
                                    <div class="form-group">
                                        <label>标签</label>
                                        <input type="text" class="form-control" placeholder="标签之间用逗号隔开">
                                    </div>
                                </div>
                                <div id="editArticle_time">

                                    <div class="form-group">
                                        <label for="datepicker">选择日期:</label>
                                        <div class="input-group date" id="datepicker" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datepicker"/>
                                            <div class="input-group-append" data-target="#datepicker"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="card-footer"></div>

                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card card-outline card-primary">
                            <div class="card-header text-center border-bottom-0">
                                <h5 class="mb-0">
                                    文章内容编辑
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </h5>

                            </div>
                            <div class="card-body pt-0 pb-0 pl-0 pr-0">
                                <!--MarkDown的id标志 -->
                                <div id="my-editormd">
                                    <!-- 书写与实时显示的textarea -->
                                    <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc"
                                              style="display:none;"></textarea>
                                </div>
                            </div>

                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <!-- 上传封面按钮（左侧） -->

                                <!-- 封面上传区域 -->
                             <!--   <div id="uploadArea"
                                     class="btn btn-outline-primary  rounded p-3 mb-2 text-center"
                                     style="border-style: dashed; cursor: pointer;">
                                    <p class="mb-1">点击或拖拽图片到此上传封面</p>
                                    <input type="file" id="coverUpload" accept="image/*" style="display: none;">

                                    <div class="progress mt-2" style="height: 6px; display: none;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 0;"></div>
                                    </div>
                                    &lt;!&ndash; ✅ 封面预览图 &ndash;&gt;
                                    <img id="coverPreview" src="" alt="封面图预览" class="img-fluid mt-2 rounded" style="max-height:150px; display:none;">

                                </div>
                                <span id="coverFileName" class="text-muted ml-2">未选择文件</span>-->
                                <div id="uploadArea" class="btn btn-outline-primary rounded p-3 mb-2 text-center" style="border-style: dashed; cursor: pointer;">
                                    <p class="mb-1">点击或拖拽图片到此上传封面</p>
                                    <input type="file" id="coverUpload" accept="image/*" style="display: none;">

                                    <div class="progress mt-2" style="height: 6px; display: none;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 0;"></div>
                                    </div>

                                    <!-- ✅ 封面预览图 -->
                                    <img id="coverPreview" src="" alt="封面图预览" class="img-fluid mt-2 rounded" style="max-height:150px; display:none;">

                                    <!-- 新增：取消按钮，初始隐藏 -->
                                    <button id="cancelCoverBtn" type="button" class="btn btn-sm btn-warning mt-2" style="display: none;">取消上传</button>
                                </div>
                                <span id="coverFileName" class="text-muted ml-2">未选择文件</span>


                                <!-- 提交按钮（右侧） -->
                                <div class="ml-auto">
                                    <button id="submitButton" type="button" class="btn btn-danger">发表</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


</body>
<script src="js/jquery-3.3.1.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/adminLTE/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="js/jquery-3.3.1.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/adminLTE/plugins/fastclick/fastclick.js}"></script>
<script th:src="@{/adminLTE/plugins/moment/moment.min.js}"></script>
<script th:src="@{/editormd/editormd.min.js}"></script>
<script th:src="@{/adminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script th:src="@{/adminLTE/dist/js/adminlte.min.js}"></script>


<script>
    $(function () {
        editorMd_init();
        getCategories();
        tempus_init();
        sidebar_active();
        addCategory();
        initCoverUpload();
    });

    function addCategory() {
        $('#saveCategoryBtn').click(function () {
            let categoryName = $('#categoryNameInput').val().trim();

            if (!categoryName) {
                alert('请输入分类名称');
                return;
            }

            $.ajax({
                url: '/category/add',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({categoryName: categoryName}),
                success: function (result) {
                    if (result.status === 200) {
                        alert('添加成功');
                        $('#addCategoryModal').modal('hide'); // 关闭模态框
                        $('#categoryNameInput').val('');       // 清空输入框
                        // 刷新列表
                        getCategories();
                    }
                },
                error: function (xhr) {
                    //error是非2xx的状态码才会触发的
                    if (xhr.status === 409) {
                        alert('分类名已存在，请重新输入');
                    } else if (xhr.status === 400) {
                        alert('请求参数错误');
                    } else {
                        alert('添加失败，请稍后重试');
                    }


                }
            });
        });

    }

    function getCategories() {
        $.ajax({
            url: "/category/all",
            type: "GET",
            dataType: 'json', // 让 jQuery 自动解析 JSON 字符串 ，就算后端返回的string，但是会在这里给你解析成json
            success: function (result) {
                console.log(result);
                if (result.status === 200 && result.data) {
                    let categories = result.data;
                    let $select = $("#categorySelect");

                    // 清空现有选项，只保留默认项
                    $select.find("option:not(:first)").remove();

                    // 添加分类数据
                    categories.forEach(function (cat) {
                        $select.append(`<option value="${cat.categoryId}">${cat.categoryName}</option>`);
                    });
                } else {
                    alert("加载分类失败！");
                }
            },
            error: function (data) {
                console.log(data);
                alert("请求分类数据失败！");
            }
        });
    }

    function sidebar_active() {
        const currentUrl = window.location.pathname;
        $('.nav-sidebar a').each(function () {
            const link = $(this).attr('href');
            if (link && currentUrl.endsWith(link)) {
                $(this).addClass('active');
                $(this).closest('.nav-item').addClass('menu-open');
                $(this).parents('.nav-treeview').prev('a').addClass('active');
                // 修改图标为实心圆
                $(this).find('.fa-circle-o').removeClass('fa-circle-o').addClass('fa-check-circle-o');
            }
        });

    }

    //编辑文章
    function showArticle_init() {
        const urlParams = new URLSearchParams(window.location.search);
        const articleId = urlParams.get('articleId');
        if (articleId) {
            $.ajax({
                url: '/findArticleById?articleId=' + articleId,
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    const article = res.data;

                    // 回显基本表单字段
                    $("#articleId").val(article.articleId).prop('readonly', true);
                    $("#articleTitle").val(article.articleTitle);
                    $("#summary").val(article.articleSummary);
                    $("input[name='customRadio'][value='" + article.articleType + "']").prop("checked", true);

                    if ($("#categorySelect option[value='" + article.categoryId + "']").length === 0) {
                        $("#categorySelect").append(
                            $("<option>", {value: article.categoryId, text: article.categoryName})
                        );
                    }
                    $("#categorySelect").val(article.categoryId);

                    $("#editArticle_tag input").val(article.tags.map(tag => tag.tagName).join(","));
                    $("#datepicker input").val(article.articlePublishDate);
                    testEditor.setMarkdown(article.articleContent);


                    // ✅ 回显封面图
                    if (article.articleImageUrl) {
                        coverImageUrl = article.articleImageUrl; // 保存到全局变量
                        $("#coverFileName").text("已上传封面：" + article.articleImageUrl);

                        // 显示预览
                        $("#coverPreview").attr("src", article.articleImageUrl).show();

                        // 显示取消按钮（允许用户移除现有封面）
                        $('#cancelCoverBtn').show();
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }

    function tempus_init() {
        $('#datepicker').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
    }

    //markdown编辑器
    function editorMd_init() {
        testEditor = editormd("my-editormd", { //注意1：这里的就是上面的DIV的id属性值
            width: "100%",
            height: 600,
            syncScrolling: true, //设置双向滚动
            path: "../../../editormd/lib/", //lib目录的路径
            previewTheme: "white", //代码块使用dark主题
            codeFold: true,
            emoji: true,
            tocm: true, // Using [TOCM]
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
            htmlDecode: true, //不过滤标签
            imageUpload: true, //上传图片
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp", "JPG", "JPEG", "GIF", "PNG", "BMP", "WEBP"],
            imageUploadURL: "/uploadImage",
            saveHTMLToTextarea: true, //注意3：这个配置，方便post提交表单
            onload: function () {
                // console.log('onload', this);
                showArticle_init();
            },
            toolbarIcons: function () {
                return ["bold", "del", "italic", "quote", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "link", "image", "code", "code-block", "table", "datetime", "html-entities", "emoji", "|", "watch", "preview", "fullscreen", "clear", "search", "|", "help", "info"]
            }
        });

    }

    let coverImageFile = '';
    let coverImageUrl = '';  // 假设你已经有这个全局变量，用于现有文章的封面

    function initCoverUpload() {
        const $uploadArea = $('#uploadArea');
        const $fileInput = $('#coverUpload');
        const $fileName = $('#coverFileName');
        const $progress = $('.progress');
        const $bar = $('.progress-bar');
        const $preview = $('#coverPreview');  // 预览图片
        const $cancelBtn = $('#cancelCoverBtn');  // 取消按钮

        // 只绑定容器的点击事件，让它模拟 file input 的点击
        $uploadArea.on('click', function () {
            $fileInput[0].click(); // ✅ 原生方式触发，防止 jQuery 再走 trigger 链
        });

        $uploadArea.on('dragover', function (e) {
            e.preventDefault();
            $(this).addClass('bg-light');
        }).on('dragleave', function (e) {
            e.preventDefault();
            $(this).removeClass('bg-light');
        }).on('drop', function (e) {
            e.preventDefault();
            $(this).removeClass('bg-light');
            const file = e.originalEvent.dataTransfer.files[0];

            if (file && file.type.startsWith('image/')) {
                handleFileSelected(file);
            }
        });

        // 用户通过点击方式选择文件时
        $fileInput.on('change', function () {
            const file = this.files[0];
            if (file) {
                handleFileSelected(file);
            }
        });

        // 新增：处理文件选择后的逻辑（预览 + 显示取消按钮）
        function handleFileSelected(file) {
            coverImageFile = file;
            $fileName.text(file.name);

            // 显示本地预览
            const previewUrl = URL.createObjectURL(file);
            $preview.attr('src', previewUrl).show();

            // 显示取消按钮
            $cancelBtn.show();
        }

        // 新增：取消按钮点击事件
        $cancelBtn.on('click', function () {
            event.stopPropagation(); // 阻止事件冒泡到父元素
            // 重置所有状态
            coverImageFile = null;
            coverImageUrl = '';  // 如果是现有文章，也清空 URL 以便提交时移除
            $fileInput.val('');  // 清空文件输入
            $fileName.text('未选择文件');
            $preview.attr('src', '').hide();  // 清空并隐藏预览
            $cancelBtn.hide();  // 隐藏按钮
        });

        // 封面上传函数，在点击“发表”时触发（原有逻辑不变）
        window.uploadCoverIfNeeded = function (callback) {
            if (!coverImageFile) return callback(null);

            const formData = new FormData();
            formData.append('file', coverImageFile);

            $.ajax({
                url: '/uploadImageArticle',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                xhr: function () {
                    const xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            const percent = Math.round((evt.loaded / evt.total) * 100);
                            $progress.show();
                            $bar.css('width', percent + '%');
                        }
                    }, false);
                    return xhr;
                },
                success: function (res) {
                    coverImageUrl = res.url;
                    $fileName.text("上传成功，地址：" + coverImageUrl);
                    callback(coverImageUrl);
                },
                error: function () {
                    alert('封面图上传失败');
                    $progress.hide();
                    callback(null);
                }
            });
        };
    }


    // 提交按钮点击事件
    $('#submitButton').on('click', function () {
        const content = testEditor.getMarkdown();
        const selectedOption = $('#categorySelect option:selected');
        const category = {
            categoryId: selectedOption.val(),
            categoryName: selectedOption.text()
        };

        const formData = {
            articleId: $("#articleId").val().trim(),
            title: $("#articleTitle").val().trim(),
            summary: $("#summary").val().trim(),
            type: $("input[name='customRadio']:checked").val(),
            tags: $("#editArticle_tag input").val().trim().split(',').map(t => ({tagName: t.trim()})),
            publishDate: $("#datepicker input").val().trim(),
            category: category,
            content: content
        };

        const rawId = $("#articleId").val().trim();
        if (rawId !== '' && !isNaN(rawId)) {
            formData.articleId = parseInt(rawId);
        }

        // 上传封面图后继续发文章
        uploadCoverIfNeeded(function (imageUrl) {
            if (!imageUrl && coverImageFile) {
                alert("封面图上传失败，已取消文章提交！");
                return; // ❌ 阻止后续提交
            }

            // 修改后的逻辑：
            if (imageUrl) {
                // 如果上传了新图，使用新图地址
                formData.imageUrl = imageUrl;
            } else if (coverImageUrl) {
                // 如果没有上传新图（imageUrl为空），但存在回显的旧图地址，则保留旧图
                formData.imageUrl = coverImageUrl;
            }
            // 如果两者都没有，则 formData.imageUrl 为空（表示用户删除了封面）


            $.ajax({
                url: "/saveArticles",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (result) {
                    alert("发表成功！");
                    setTimeout(function () {
                        window.location.href = "/admin/article/mana";
                    }, 500);
                },
                error: function (xhr, status, error) {
                    alert("提交失败，请检查输入！");
                    console.error("错误详情：", xhr.responseText);
                }
            });
        });

    });


</script>


</html>
