<!DOCTYPE html>
<html lang="zh-CN" xmlns:th=http://www.thymeleaf.org>
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{common/common.css}">
    <title>关于我</title>
    <style>

        .card {
            font-size: 15px;
            font-family: al-Light;
        }

        .card-title img {
            border-radius: 50%;
            height: 50px;
            width: 50px;

        }

        /*   .collapse img{
               height: 80px;
               width: 100px;
           }*/


    </style>
</head>
<body>
<!--导航条-->
<div th:replace="common/navbar :: #navbar_1"></div>
<!--遮罩层-->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p class="mt-2">Please wait...</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>

        <div id="updateRecord_center" class="col-6 pt-5">
            <h2 id="updateRecord_title" class="mb-5" style="font-family: al-SemiBold">关于我</h2>
            <figure class="figure">
                <img th:src="@{/img/me.jpg}" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-right">别看了，再多看一眼就会爆炸</figcaption>
            </figure>
            <div class="mb-5">
                <i class="fa fa-quote-left fa-1x pull-left"></i>
                <br>
                <p style="font-family: al-Light">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尽全力，顺天意，莫问前程，砥砺前行</p>
                <i class="fa fa-quote-right fa-1x pull-right"></i>
            </div>
            <hr>
            <div class="mb-5">
                <h2>初衷</h2>
                <i class="fa fa-quote-left fa-1x pull-left "></i>
                <br>
                <p style="font-family: al-Light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;将自学的技术栈用于实践之中，融会贯通，实践出真知。</p>
                <i class="fa fa-quote-right fa-1x pull-right "></i>
            </div>
            <hr>
            <div class="mb-5">
                <h2>哔~，请留言</h2>
                <br>
                <p style="font-family: al-Light">有任何问题都可以留言反馈，我们一起共同进步！</p>
            </div>
            <hr>
            <!--<div class="mb-5">
                <h2>心情打卡</h2>
                <br>
                <div class="d-flex">
                    <div class="col-3 border-right">
                        <h4><i class="fa fa-hashtag" aria-hidden="true"></i>2019</h4>
                    </div>

                    <div class="col-9">
                        <div class="card mt-2 shadow-sm">
                            <div class="card-body">
                                <div class="card-title d-flex ">
                                    <div class="col-6">
                                        <img th:src="@{/img/touxiang.jpg}" class="" alt="头像走丢了">
                                        <span style="text-decoration: underline">PYM</span>
                                    </div>
                                    <div class="col-6 text-right pt-3">
                                        <span class="">2019.10.10</span>
                                        <span class="">·</span>
                                        <span class="">深圳</span>
                                    </div>

                                </div>
                                <p class="card-text">
                                    <span>今天画了一个美美的妆~</span>
                                <div class="collapse " id="collapseExample">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">
                                    <img th:src="@{/img/touxiang.jpg}" height="80px" width="100px" class="mb-1" alt="">

                                </div>
                                <a class="float-right" data-toggle="collapse" href="#collapseExample"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    展开/折叠
                                </a>
                                </p>

                            </div>
                        </div>
                        <div class="card mt-2 shadow-sm">
                            <div class="card-body">
                                <div class="card-title">
                                    <img th:src="@{/img/touxiang.jpg}" class="" alt="头像走丢了">
                                    <span style="text-decoration: underline">PYM</span>
                                    <span class="offset-5">2019.10.10</span>

                                </div>
                                <p class="card-text">
                                    <span>今天画了一个美美的妆~</span>
                                <div class="collapse " id="collapseExample1">
                                    <img th:src="@{/img/me2.jpg}" class="mb-1 img-fluid" alt="">
                                </div>
                                <a class="float-right" data-toggle="collapse" href="#collapseExample1"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    展开/折叠
                                </a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>-->
        </div>

        <div class="col-3">

        </div>
    </div>

</div>


</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
<script th:src="@{common/common.js}"></script>

<script>
    /*    $(document).ready(function() {
            // 获取所有需要添加动画效果的div
            var divs = $('#updateRecord_center div');
            $('#updateRecord_center').hide().fadeIn(1000);
            divs.hide();

            // 遍历每个div，依次添加动画效果
            divs.each(function(index) {
                var delay = index * 200; // 每个动画之间的延迟时间为500毫秒
                $(this).delay(delay).fadeIn(400); // 使用delay()方法控制动画顺序，使用fadeIn()方法实现淡入效果
            });

        });*/

</script>
</html>